
<h2>Centro de Mensajes</h2>
<div class="contenedor-chat">
    <form onsubmit="return addMessage(this)">
        <div id=namebox>
            <h3>Ingrese su nombre</h3>
            <input type="text" id="username" placeholder="Tu Nombre">
        </div>
        <hr>
        <div id="messages"></div>
        <div class="sendbox">
        <input type="text" id="texto" class="inputMsg" placeholder="Cuéntanos algo...">
        <input type="submit" class="btn btn-primary" value="Enviar">
    </div>
    </form>
</div>
